:root {
  /* colors */

  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --accent-color-redish: #fb3b64;
  --accent-color-green: #55dfb4;
  --accent-color-black: #000000;
  --accent-color-grey: #a5a5a5;
  --accent-color-light-grey: #f7f7f7;
  --accent-color-white: #ffffff;

  /* fonts  */

  --font-raleway: 'Raleway', serif;
  --font-weight-raleway-300: 300;
  --font-weight-raleway-400: 400;
  --font-weight-raleway-700: 700;
  --font-weight-raleway-800: 800;

  --font-open-sans: 'Open Sans', serif;
  --font-weight-open-sans-300: 300;
  --font-weight-open-sans-400: 400;
  --font-weight-open-sans-700: 700;

  /* border radius */
  --border-radius: 40px;
}

body {
  font-family: var(--font-raleway);
  background-color: var(--accent-color-white);
}
.container {
  max-width: 1352px;
  margin: 0 auto;
}

.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 32px;
  font-weight: 300;
  color: var(--color-primary);
}
.header__menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.header__menu a {
  font-family: var(--font-open-sans);
  font-size: 11px;
  font-weight: bold;
  color: var(--accent-color-grey);
  letter-spacing: 3.28px;
  margin-left: 95px;
}

.header__menu a:hover {
  color: var(--accent-color-black);
  padding-bottom: 25px;
  border-bottom: 4px solid var(--color-primary);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__content {
  padding-top: 130px;
  text-align: center;
}

.hero__title {
  font-size: 49px;
  font-weight: normal;
  color: var(--accent-color-black);
}
.hero__text {
  font-family: var(--font-open-sans);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 38px;
}

.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: var(--border-radius);
  border: none;
}

.btn--standard {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn--large {
  padding: 22px 157px;
}

.hero__image {
  width: 100%;
  height: auto;
}

/* section statistics */

.statistics {
  margin-top: 100px;
  margin-bottom: 100px;
}

.statistic__title {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 100px;
}

.small__container {
  max-width: 800px;
  margin: 0 auto;
}

.satistics__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistic__single {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.statistic__circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #fb3b64;
  position: relative;
}

.statistic__circle img {
  position: absolute;
}

.statistic__single:nth-child(2) .statistic__circle {
  background-color: var(--color-primary);
}
.statistic__single:nth-child(2) .statistic__circle img {
  top: 15px;
}

.statistic__single:nth-child(3) .statistic__circle {
  background-color: var(--accent-color-green);
}

.statistic__number {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: var(--font-weight-raleway-800);
  letter-spacing: 5.96px;
}
.statistic__text {
  font-size: 17px;
  color: var(--accent-color-grey);
}

/* section benefits */

.benefits {
  background-color: #f7f7f7;
  padding: 100px 250px;
}

.benefits__container {
  height: 370px;
  width: 1124px;
  margin: 0 auto;
  background-color: var(--accent-color-white);
  border-radius: 5px;
  border: 1px solid #e8e9ed;
}

.benefits__single {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits__content {
  margin-top: 90px;
  margin-left: 36px;
}

.benefits__title {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 30px;
}
.benefits__text {
  font-size: 16px;
  font-family: var(--font-open-sans);
  font-weight: var(--font-weight-open-sans-300);
  max-width: 415px;
  position: relative;
}

.benefits__text::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  border-bottom: 4px solid #fb3b64;
  width: 328px;
}

.benefits__image {
  position: relative;
  margin-right: 117px;
  top: 117px;
  z-index: 1;
}

.benefits__single--notebook .benefits__image::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 41px;
  background-color: var(--accent-color-redish);
  display: block;
  transform: rotate(-45deg);
  z-index: -1;
  top: -60px;
  right: -30px;
}
.benefits .benefits__container:nth-child(2) {
  margin-top: 37px;
  margin-bottom: 37px;
}

.benefits__single--phone {
  display: flex;
  flex-direction: row-reverse;
}

.benefits__single--phone .benefits__content {
  margin-top: -40px;
  margin-right: 20px;
}

.benefits__single--phone .benefits__title {
  max-width: 246px;
}

.benefits__single--phone .benefits__text::after {
  border-color: var(--color-primary);
}

.benefits__single--phone .benefits__image {
  width: 426px;
  height: auto;
  top: 40px;
  left: 70px;
}
.benefits__single--phone .benefits__image::before {
  content: '';
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: var(--color-primary);
  position: absolute;
  z-index: -1;
  top: -20px;
}
.benefits__double-container {
  display: flex;
  height: 370px;
  width: 1124px;
  margin: 0 auto;
}

.benefits__double {
  background-color: var(--accent-color-white);
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  width: 55%;
}

.benefits__double-content {
  margin-top: -70px;
}

.benefits__double-title {
  max-width: 348px;
}

.benefits__double-text::after {
  border-color: var(--accent-color-green);
}
.benefits__double-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color-green);
  margin-left: 100px;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  width: 45%;
}
.benefits__double-image img {
  width: 295px;
  height: auto;
}

/* section pricing */

.pricing {
  text-align: center;
  margin-top: 100px;
}

.pricing__title {
  font-size: 36px;
  font-weight: normal;
  color: var(--accent-color-black);
  margin-bottom: 50px;
}

.pricing__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.standard__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  height: 460px;
  border: 1px solid var(--accent-color-redish);
  border-radius: 18px;
  padding: 34px 100px;
  margin-right: 60px;
}

.box__title {
  font-size: 20px;
}
.box__price {
  font-size: 46px;
  font-family: var(--font-open-sans);
  font-weight: var(--font-weight-open-sans-300);
  margin-top: 14px;
  color: var(--accent-color-redish);
}

.pricing__limited {
  font-size: 12px;
  font-weight: bold;
  color: #13253b;
}
.box__details {
  font-family: var(--font-open-sans);
  font-weight: var(--font-weight-open-sans-300);
  font-size: 14px;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 25px;
}
.box__items {
  padding-bottom: 20px;
}

.box__items::before {
  content: '';
  width: 11px;
  height: 11px;
  background-image: url('/src/assets/Ckechmark-1.svg');
  display: inline-block;
  margin-right: 10px;
}

.box__items-not::before {
  content: '';
  background-image: url('/src/assets/Close.svg');
}

.btn-standard-price {
  font-family: var(--font-open-sans);
  font-size: 13px;
  background-color: var(--accent-color-redish);
}

.professional-box {
  border-color: var(--color-primary);
  height: 500px;
}
.professional-box .box__price {
  color: var(--color-primary);
}

.btn-professional {
  margin-top: 25px;
  font-family: var(--font-open-sans);
  font-size: 13px;
}

.premium-box {
  border-color: var(--accent-color-green);
}
.premium-box .box__price {
  color: var(--accent-color-green);
}
.premium-box .box__details {
  margin-top: 65px;
}
.premium-box .btn-standard-price {
  background-color: var(--accent-color-green);
}

/* section form */

.contact {
  padding: 155px 150px 59px;
  display: flex;
  justify-content: center;
}
.contact__column {
  width: 50%;
}
.contact__title {
  font-size: 49px;
  font-weight: normal;
  margin-bottom: 22px;
}
.contact__text {
  font-family: var(--font-open-sans);
  color: var(--accent-color-black);
  font-size: 16px;
  margin-bottom: 42px;
}
.contact__details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.details__item {
  color: var(--accent-color-grey);
  font-family: var(--font-open-sans);
  font-weight: 500;
  /* font-style: normal; */
}

.details__item:first-of-type {
  margin-right: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 440px;
}
.label__form {
  font-family: var(--font-open-sans);
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 3.28px;
  color: var(--color-primary);
}

.input__form {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color-black);
  font-size: 18px;
  color: var(--accent-color-grey);
  padding: 10px;
}
.input__form:focus {
  border: 1px solid var(--color-primary);
  border-radius: 8px;
}

/* checkbox */
.input__checkbox {
  font-size: 12px;
  font-family: var(--font-open-sans);
  font-weight: normal;
  color: var(--accent-color-grey);
}

.input__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input__checkbox {
  cursor: pointer;
  display: flex;
}

.input__checkbox span {
  height: 24px;
  flex-shrink: 0;
  flex-basis: 24px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  background-image: url('/src/assets/Checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 15px;
}

.input__checkbox input:checked + span {
  background-color: var(--color-primary);
}

.btn-form {
  align-self: flex-end;
  padding: 22px 97px;
  width: fit-content;
  cursor: pointer;
}

/* section footer */

.footer {
  height: 89px;
  box-shadow: 0px -5px 40px #00000029;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 6.5px;
}
.footer__info .logo {
  font-size: 26px;
}
.footer__info span {
  font-family: var(--font-open-sans);
  font-size: 11px;
  color: var(--accent-color-grey);
}
.footer__social a:first-of-type {
  margin-right: 20px;
}

/* Done */
